ul.resp-tabs-list,
p {
    margin: 0px;
    padding: 0px
}

.resp-tabs-list li {
    font-weight: 600;
    font-size: 13px;
    display: inline-block;
    padding: 13px 15px;
    margin: 0 4px 0 0;
    list-style: none;
    cursor: pointer;
    float: left
}

.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none
}

.resp-tab-content {
    display: none;
    padding: 15px
}

.resp-tab-active {}

.resp-tab-active {
    border-bottom: none;
    background-color: #fff
}

.resp-content-active,
.resp-accordion-active {
    display: block
}

.resp-tab-content {
    border: 1px solid #c1c1c1;
    border-top-color: #5AB1D0
}

h2.resp-accordion {
    font-size: 13px;
    border: 1px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    margin: 0px;
    padding: 10px 15px
}

h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
    padding: 10px 15px !important
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue
}

.resp-vtabs ul.resp-tabs-list {
    float: right;
    width: 35%
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 30px 15px !important;
    margin: 0 0 4px;
    cursor: pointer;
    float: none;
    border-bottom: 1px solid #ccc
}

.resp-vtabs .resp-tabs-list li h3 {
    font-size: 18px;
    font-family: 'functionregular';
    font-weight: 500;
    color: #464646
}

.resp-vtabs .resp-tabs-list li h5 {
    color: #828282;
    font-weight: 500;
    margin-top: 15px;
    font-size: 15px
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    float: left;
    width: 65%;
    min-height: 250px;
    border-radius: 4px;
    clear: none
}

.resp-vtabs .resp-tab-content {
    border: none;
    word-wrap: break-word
}

.resp-vtabs li.resp-tab-active {}

#parentVerticalTab {
    display: inline-block !important
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #c1c1c1
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #9B9797
}

h2.resp-tab-active {
    background: #DBDBDB
}

.resp-easy-accordion h2.resp-accordion {
    display: block
}

.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1
}

.resp-jfit {
    width: 100%;
    margin: 0px
}

.resp-tab-content-active {
    display: block
}

h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1
}

@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none
    }
    h2.resp-accordion {
        display: block
    }
    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1
    }
    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: 100px;
        clear: none
    }
    .resp-accordion-closed {
        display: none !important
    }
    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important
    }
}