body.modal-open {
    overflow: hidden;
    position: fixed;
    width: 100%
}

.btn {
    margin: 20px 0
}

.btn-danger {
    font-size: 16px
}

.modal-backdrop.in {
    filter: alpha(opacity=80);
    opacity: .8
}

.popup-image-gallery .modal-dialog {
    width: 100%
}

.popup-image-gallery .modal-content {
    box-shadow: none;
    background-color: #00000099;
    border: 0;
    border-radius: 0;
    height: 100vh
}

.popup-slider-for {
    position: relative;
    min-height: 300px;
    z-index: 2;
    margin-top: 10%
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.popup-slider-for:after {}

.popup-slider-for,
.main-image {
    text-align: center;
    margin-bottom: 0
}

.popup-slider-for .slick-slide img {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle
}

.popup-slider-nav .thumbnail-image {
    position: relative;
    margin: 0 5px;
    cursor: pointer
}

.popup-slider-nav .thumbnail-image,
.popup-slider-nav .thumbnail-image img {
    display: block;
    width: 140px;
    height: 100px
}

.popup-slider-nav .thumbnail-image:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear
}

.popup-slider-nav .thumbnail-image:hover:after {
    background-color: rgba(0, 0, 0, 0.4)
}

.popup-slider-nav .slick-current:after,
.popup-slider-nav .slick-current:hover:after,
.popup-slider-nav .slick-center:after,
.popup-slider-nav .slick-center:hover:after {
    background-color: transparent
}

.pagingInfo {
    color: #fff;
    text-align: center;
    margin: 20px 0
}

.popup-slider-for .slick-next,
.popup-slider-for .slick-prev {
    width: auto;
    height: auto;
    z-index: 1;
    top: 35%
}

.popup-slider-for .slick-prev {
    left: 0
}

.popup-slider-for .slick-prev:before,
.popup-slider-for .slick-next:before,
.popup-slider-for:after {
    font: normal normal 30px/1'Glyphicons Halflings'
}

.popup-slider-for .slick-prev:before {
    content: "e257"
}

.popup-slider-for .slick-next:before {
    content: "e258"
}

.popup-slider-for .slick-next {
    right: 0
}

.popup-image-gallery .close-icon {
    top: 0
}

.slick-slide {
    outline: 0
}

.slick-slide h3 {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
    font-family: 'functionregular'
}

.close-btn {
    background-color: transparent;
    color: #fff;
    position: absolute;
    right: 30px;
    z-index: 3;
    font-size: 24px;
    margin: 0;
    opacity: .75
}

.close-btn:hover,
.close-btn:focus {
    color: #fff;
    opacity: 10
}

.popup-image-gallery .modal-dialog {
    margin: 0;
    width: 100%;
    max-width: 100%
}

@media (max-width: 767px) {
    .popup-image-gallery .modal-body {
        padding: 0
    }
    .popup-image-gallery .modal-dialog {
        margin-top: 20px
    }
    .popup-image-gallery .close-icon {
        top: -20px
    }
    .popup-slider-for .slick-prev {
        left: 12px
    }
    .popup-slider-for .slick-next {
        right: 12px
    }
}