@media all and (max-width: 1920px) {
    .fluid-container {
        width: 1240px;
        margin: auto
    }
}

@media all and (max-width: 1690px) {
    .flot-news {
        width: 250px
    }
    .flot-news-left h3 {
        font-size: 16px
    }
    .flot-news-left a {
        margin-top: 50px
    }
    .search-container {
        width: 75%
    }
    .all-course {
        width: 24%
    }
    .all-course a {
        font-size: 18px
    }
    .flot-news-right h3 {
        writing-mode: tb-rl;
        font-size: 18px;
        padding-left: 15px;
        padding-top: 35px
    }
    .banner form {
        left: 18%
    }
    .menu {
        text-align: left
    }
}

@media all and (max-width: 1280px) {
    .all-course a {
        font-size: 16px;
        padding: 10px;
        padding-top: 20px
    }
    .fluid-container {
        width: 980px
    }
    .menu ul li {
        margin-top: 20px
    }
    .menu ul li a {
        font-size: 15px;
        padding: 10px
    }
    .logo {
        text-align: left
    }
    header {
        padding-top: 20px;
        padding-bottom: 20px
    }
    .menu {
        text-align: left
    }
    .space-bottom {
        margin-bottom: 50px
    }
    .space-top {
        margin-top: 50px
    }
    .inner-sec {
        margin: 50px 0px
    }
}

@media all and (max-width: 980px) {
    .in-txt-left {
        position: inherit;
        width: 100%
    }
    .inner-left {
        width: 100%
    }
    .inner-right {
        width: 100%
    }
    .inner-sec {
        display: block
    }
    .fluid-container {
        width: 100%
    }
    .quk-lin ul li {
        width: 25%
    }
    .quk-lin ul {
        width: 100%
    }
    .quk-lin {
        position: relative
    }
    .sub-menu {
        position: relative;
        width: 100%;
        visibility: visible;
        opacity: 1;
        display: none;
        background: #fff;
        float: left
    }
    .last-text {
        display: block
    }
    .last-icon {
        display: none
    }
    .menu ul li {
        width: 100%;
        transition: none;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: left;
        float: left;
        border-bottom: 1px solid #404040
    }
    .menu ul li a {
        width: 85%;
        float: left;
        background: #0E7A02;
        padding: 20px 20px
    }
    .menu .sub-menu li a {
        background: #f5f5f5
    }
    .logo img {
        transition: none;
        width: 100%
    }
    .menu .fa-chevron-down {
        width: 15%;
        background: #f5f5f5;
        display: block;
        color: #333;
        float: right;
        font-size: 15px;
        padding: 20px 20px;
        text-align: center
    }
    .menu ul li a.active {
        background: #16203f;
        color: #fff
    }
    .rot {
        transform: rotate(180deg)
    }
    .menuIcon {
        display: block;
        float: right;
        padding-right: 15px;
        padding-bottom: 10px
    }
    .menu {
        display: none
    }
    .flot-news {
        position: relative;
        width: 100%
    }
    .quk-lin {
        position: inherit;
        text-align: center;
        top: 0
    }
    .quk-lin-title {
        width: 100%
    }
    .flot-news-left h3 {
        text-align: center;
        font-size: 22px
    }
    .flot-news-left a {
        margin-top: 20px;
        margin-bottom: 20px
    }
    .flot-news-left {
        text-align: center
    }
    .banner form {
        width: 75%;
        left: 14%;
        top: 35%
    }
    .quk-lin ul li a {
        padding: 20px
    }
    .quk-lin ul li a h3 {
        font-size: 25px
    }
    .all-course a {
        padding: 5px;
        text-align: center;
        padding-top: 15px
    }
    .principal-msg {
        display: block
    }
    .principal-msg-left {
        width: 100%
    }
    .principal-msg-right {
        width: 100%;
        padding: 0 10px
    }
    .an-ev {
        display: block
    }
    .announs {
        width: 95%;
        margin: auto;
        margin-bottom: 50px
    }
    .event {
        width: 95%;
        margin: auto
    }
    .footer-top-left {
        width: 40%
    }
    .footer-top-right {
        width: 60%;
        padding: 50px 15px
    }
    .footer-top-right ul li {
        font-size: 14px
    }
    .footer-bottom {}
    .footer-top-left-logo img {
        width: 80%
    }
}

@media only screen and (min-width: 768px) and (max-width: 980px) {
    .inner-sec .inner-right img {
        width: 50%
    }
}

@media all and (max-width: 767px) {
    .social-icon ul {
        justify-content: space-between
    }
    .fluid-container {
        width: 100%
    }
    header {
        position: relative;
        padding-top: 20px;
        padding-bottom: 10px
    }
    .logo {
        padding-left: 10px
    }
    .quk-lin ul {
        display: block
    }
    .quk-lin ul li {
        width: 50%;
        float: left;
        height: 185px
    }
    .sub-menu {
        position: relative;
        width: 100%;
        visibility: visible;
        opacity: 1;
        display: none;
        background: #fff;
        float: left
    }
    .last-text {
        display: block
    }
    .last-icon {
        display: none
    }
    .menu ul li {
        width: 100%;
        transition: none;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: left;
        float: left;
        border-bottom: 1px solid #404040
    }
    .menu ul li a {
        width: 85%;
        float: left;
        background: #0E7A02d1
    }
    .menu .sub-menu li a {
        background: #f5f5f5
    }
    .logo img {
        transition: none;
        width: 100%
    }
    .menu .fa-chevron-down {
        width: 15%;
        background: #f5f5f5;
        display: block;
        color: #333;
        float: right;
        font-size: 16px;
        padding: 20px 20px;
        text-align: center
    }
    .menu ul li a.active {
        background: #16203f;
        color: #fff
    }
    .rot {
        transform: rotate(180deg)
    }
    .menuIcon {
        display: block;
        float: right;
        padding-right: 15px;
        padding-bottom: 10px
    }
    .menu {
        display: none
    }
    .banner form {
        position: relative;
        left: 0;
        width: 80%;
        background: #ccc;
        margin: 30px auto
    }
    .flot-news {
        position: relative;
        width: 100%
    }
    .search-container {
        width: 100%
    }
    .all-course {
        width: 35%
    }
    .flot-news-left h3 {
        text-align: center;
        font-size: 22px
    }
    .flot-news-right h3 {
        display: none
    }
    .flot-news-left {
        text-align: center
    }
    .flot-news-left a {
        margin-top: 20px;
        margin-bottom: 20px
    }
    .quk-lin {
        position: inherit;
        text-align: center;
        top: 0
    }
    .quk-lin-title {
        width: 100%
    }
    .principal-msg {
        display: block
    }
    .principal-msg-left {
        width: 100%
    }
    .principal-msg-right {
        width: 100%
    }
    .quk-lin-top {
        height: auto
    }
    .principal-msg-right h2 {
        text-align: center;
        margin-top: 20px
    }
    .principal-msg-right p {
        margin-left: 20px
    }
    .principal-msg-right a {
        margin-left: 20px
    }
    .an-ev {
        display: block
    }
    .announs {
        width: 95%;
        margin: auto;
        margin-bottom: 50px
    }
    .anno-all a {
        margin-top: 20px
    }
    .event {
        width: 95%;
        margin: auto
    }
    .footer-top {
        display: block
    }
    .footer-top-left {
        width: 100%
    }
    .footer-top-right {
        width: 100%
    }
    .footer-bottom p {
        font-size: 15px
    }
    .footer-bottom {
        padding: 50px 20px
    }
    .all-course a {
        font-size: 16px;
        padding: 20px 0px 0px 0px;
        text-align: center
    }
}

@media all and (max-width: 576px) {
    .ugc {
        display: flex;
        justify-content: center;
        margin-top: 20px
    }
    .cur_std_pay {
        display: block;
        position: inherit
    }
    .register_btn {
        display: block;
        position: inherit
    }
    header {
        position: inherit;
        padding-top: 20px;
        background: #000000bf
    }
    .header_top .col-sm-8,
    .header_top .col-sm-4,
    .header_top .row {
        padding: 0px;
        margin: 0px
    }
    .banner form {
        display: none
    }
    .flot-news {
        position: relative;
        width: 100%
    }
    .quk-lin-title {
        width: 100%;
        text-align: center
    }
    .principal-msg-left {
        width: 100%
    }
    .principal-msg-left img {
        width: 100%
    }
    .principal-msg-right {
        width: 100%
    }
    .fixed-header {
        position: inherit
    }
    .principal-msg {
        display: block
    }
    .fluid-container {
        width: 100%
    }
    .quk-lin ul {
        display: block
    }
    .an-ev {
        display: block
    }
    .quk-lin {
        position: inherit;
        top: 0;
        left: 0
    }
    .quk-lin-top {
        height: auto
    }
    .announs {
        width: 100%
    }
    .event {
        width: 100%;
        margin-top: 50px
    }
    .footer-top {
        display: block
    }
    .footer-top-left {
        display: block;
        width: 100%
    }
    .footer-top-right {
        width: 100%;
        padding: 20px
    }
    .footer-bottom {
        display: block;
        text-align: center;
        padding: 10px
    }
    .footer-bottom p {
        margin-bottom: 20px;
        font-size: 16px
    }
    .inner-sec {
        margin: 10px 0px
    }
    .quick-text {
        padding: 10px
    }
    .principal-msg-right p {
        padding: 10px
    }
    .an-ev {
        padding: 50px 0px
    }
    .sub-menu {
        position: relative;
        width: 100%;
        visibility: visible;
        opacity: 1;
        display: none;
        background: #fff;
        float: left
    }
    .last-text {
        display: block
    }
    .last-icon {
        display: none
    }
    .menu ul li {
        width: 100%;
        transition: none;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: left;
        float: left;
        border-bottom: 1px solid #404040
    }
    .menu ul li a {
        width: 85%;
        float: left;
        background: #0E7A02
    }
    .menu .sub-menu li a {
        background: #f5f5f5
    }
    .logo img {
        transition: none;
        width: 70%
    }
    .menu .fa-chevron-down {
        width: 15%;
        background: #f5f5f5;
        display: block;
        color: #333;
        float: right;
        font-size: 15px;
        padding: 20px 20px;
        text-align: center
    }
    .menu ul li a.active {
        background: #16203f;
        color: #fff
    }
    .rot {
        transform: rotate(180deg)
    }
    .menuIcon {
        display: block;
        float: right;
        padding-right: 15px;
        padding-bottom: 10px
    }
    .menu {
        display: none
    }
    .an-ev h2 {
        margin-left: 10px
    }
    .inner-sec {
        display: block
    }
    .inner-left {
        width: 100%
    }
    .inner-right {
        width: 100%
    }
    .in-txt-left {
        position: inherit;
        width: 100%
    }
    h1 {
        font-family: 'functionregular';
        font-size: 30px;
        margin-bottom: 15px
    }
    .space-bottom {
        margin-bottom: 20px
    }
    .space-top {
        margin-top: 20px
    }
    .aca-inner-sec {
        display: block
    }
    .aca-in {
        width: 100%
    }
    .inner-left img {
        width: 100%
    }
    .in-txt-right {
        width: 100%;
        position: inherit;
        padding: 10px
    }
    .so-gn {
        padding: 10px;
        margin: 20px 0px
    }
    .so-gn p {
        font-size: 25px
    }
    .application-down p {
        font-size: 33px;
        line-height: 50px
    }
    .flot-news-left h3 {
        font-size: 30px;
        line-height: 40px
    }
    .announs-in img {
        width: 100%
    }
    .principal-msg-right h2 {
        font-family: 'functionregular';
        font-size: 30px;
        margin-bottom: 20px;
        text-align: center;
        margin-top: 10px
    }
    .quk-lin ul li {
        width: 100%;
        float: left
    }
    .anno-all a {
        margin-top: 20px;
        margin-right: 10px
    }
    .logo img {
        transition: none;
        width: 70%
    }
    .inner-sec h2 {
        padding-left: 15px
    }
}