html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

a:hover {
    text-decoration: none
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

:focus {
    outline: 0
}

b {
    font-weight: 600
}

@font-face {
    font-family: 'helvetica_ce_55_romanregular';
    src: url('../font/helvetica-neue-ce-55-roman-webfont.woff2') format('woff2'), url('../font/helvetica-neue-ce-55-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'functionregular';
    src: url('../font/function_regular-webfont.woff2') format('woff2'), url('../font/function_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

body {
    line-height: 1;
    font-family: 'helvetica_ce_55_romanregular'
}

strong {
    font-weight: bold
}

header {
    background: #00000033;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 999
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    background: #0E7A02;
    z-index: 99;
    padding-top: 15px;
    background: #000000bf
}

.fixed-header .logo img {
    width: 50%
}

.fixed-header .logo {
    padding-top: 0px
}

.ugc {
    display: flex;
    justify-content: flex-end
}

.ugc a {
    display: inline-block;
    background: #ffc107;
    padding: 10px;
    color: #000;
    font-weight: 600
}

.logo {
    display: inline-block;
    text-align: left;
    width: 100%;
    padding-top: 20px
}

.logo img {
    width: 80%;
    transition: all 0.4s ease-in-out 0s
}

.fixed-header .menu ul li {
    margin-top: 0px
}

h1 {
    font-family: 'functionregular';
    font-size: 50px;
    margin-bottom: 30px
}

p {
    line-height: 28px;
    margin-bottom: 10px;
    font-size: 16px
}

.space-top {
    margin-top: 100px
}

.space-bottom {
    margin-bottom: 100px
}

h2 {
    font-family: 'functionregular';
    font-size: 30px;
    margin-bottom: 20px
}

h3 {
    font-family: 'functionregular';
    font-size: 25px;
    margin-bottom: 15px
}

.iqac-list p {
    margin-top: 30px;
    font-size: 16px;
    font-weight: bold
}

.iqac-list ul li {
    font-size: 16px;
    margin-bottom: 15px
}

ul li {
    font-size: 16px;
    margin-bottom: 20px
}

.list li {
    margin-left: 15px;
    line-height: 25px;
    display: block;
    overflow: hidden
}

.add li {
    margin-left: 45px;
    line-height: 15px;
    display: block;
    overflow: hidden;
    content: none
}

.u-line {
    position: relative
}

.u-line:before {
    content: '';
    width: 50px;
    height: 2px;
    background: #0E7A02;
    display: inline-block;
    position: absolute;
    bottom: -5px
}

ul.add li:before {
    content: none;
    background: #0000;
    visibility: hidden;
    display: inline-block;
    vertical-align: middle;
    float: left;
    margin-top: 5px;
    margin-right: 10px
}

.list li span.l-line {
    float: left;
    width: calc(100% - 18px)
}

.menu ul li {
    display: inline-block;
    margin-top: 20px
}

.menu ul li a {
    color: #fff;
    font-size: 16px;
    padding: 20px 20px;
    display: inline-block
}

.menu ul li a:hover {
    background: #16203f;
    color: #fff
}

.menu ul li a.active {
    background: #16203f;
    color: #fff
}

.menu {
    display: inline-block;
    text-align: right;
    width: 100%
}

.quk-lin ul {
    display: flex
}

.quk-lin ul li {
    background: #0e7a02;
    border-right: 1px solid #8c8c8c;
    width: 25%
}

.quk-lin ul li:last-child {
    border-right: none
}

.quk-lin ul li a {
    display: inline-block;
    padding: 50px;
    color: #fff
}

.quk-lin ul li a h3 {
    font-size: 30px;
    font-family: 'functionregular'
}

.quk-lin ul li a {
    line-height: 22px
}

.quk-lin ul li:hover {
    background: #0A6300
}

.quk-lin-title {
    display: inline-block;
    padding: 25px 30px;
    background: #0A6300;
    color: #fff
}

.quk-lin-top {
    position: relative;
    height: 665px
}

.quk-lin {
    position: absolute;
    top: -85px;
    left: 0px
}

.quick-text {
    text-align: center;
    background: #f2f2f2;
    padding: 50px 100px;
    margin-top: 80px;
    margin-bottom: 80px
}

.quick-text h2 {
    color: #0e7a02;
    font-size: 45px;
    font-family: 'functionregular'
}

.quick-text h2:nth-child(2) {
    color: #0E7A02;
    margin-bottom: 30px;
    margin-top: 10px
}

.quick-text p {
    line-height: 28px;
    font-size: 18px
}

.principal-msg {
    display: flex
}

.principal-msg-left {
    width: 50%;
    text-align: center
}

.principal-msg-right {
    width: 50%;
    color: #fff
}

.principal-msg-bg {
    background: #0A6300;
    padding-top: 100px;
    padding-bottom: 100px
}

.principal-msg-right h2 {
    font-family: 'functionregular';
    font-size: 42px;
    margin-bottom: 20px
}

.principal-msg-right h2 span {
    font-size: 22px
}

.principal-msg-right p {
    font-size: 18px;
    line-height: 30px
}

.principal-msg-right a {
    color: #fff;
    margin-top: 20px;
    display: inline-block;
    border-bottom: 1px solid #0E7A02
}

.prin-qt p {
    font-family: 'functionregular';
    font-style: italic;
    font-size: 25px;
    line-height: 30px
}

.prin-qt {
    background: #0E7A02;
    padding: 20px;
    padding-bottom: 40px;
    margin-bottom: 20px
}

.prin-qt span {
    float: right;
    font-family: 'functionregular';
    font-size: 23px
}

.an-ev {
    padding: 100px 0px;
    display: flex;
    justify-content: space-between
}

.announs {
    width: 68%
}

.event {
    width: 30%
}

.an-ev h2 {
    font-family: 'functionregular';
    font-size: 45px;
    margin-bottom: 30px
}

.announs-in {}

.anno-all a {
    float: right;
    color: #333;
    border-bottom: 1px solid #0E7A02
}

.event-bg {
    background: #f7f5f5;
    padding: 10px
}

.evn-dat {
    background: #8a8a8c;
    color: #fff;
    display: inline-block;
    text-align: center;
    padding: 8px 12px;
    line-height: 25px;
    margin-right: 20px
}

.event ul li a {
    display: flex;
    align-items: center;
    line-height: 25px;
    margin: 0px 0px 20px 20px;
    font-family: 'functionregular';
    font-size: 18px
}

.event ul li:hover .evn-dat {
    background: #0E7A02
}

.event-in {
    background: #f5f5f5;
    padding: 20px 0px;
    margin-bottom: 30px
}

.footer-top-bg {
    background: #0E7A02
}

.footer-top {
    display: flex
}

.footer-top-left {
    background: #094f02;
    padding: 50px 30px;
    width: 33%;
    color: #fff
}

.footer-top-left p {
    font-size: 16px;
    line-height: 22px
}

.footer-top-right {
    width: 67%;
    padding: 50px
}

.footer-top-left-logo {
    border-bottom: 1px solid #494e5d;
    padding-bottom: 20px
}

.footer-top-left-logo p {
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px
}

.footer-top-right-title {
    color: #fff;
    margin-bottom: 20px;
    font-weight: 700
}

.footer-top-right ul li a {
    color: #fff
}

.footer-top-right ul li a:hover {
    color: #001142
}

.footer-top-right ul li {
    margin-bottom: 20px
}

.footer-bottom-bg {
    background: #053100
}

.footer-bottom {
    display: flex;
    color: #fff;
    justify-content: space-between;
    padding: 50px 0px;
    align-items: center
}

.flot-news {
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    width: 300px
}

.flot-news-left:hover {
    cursor: pointer
}

.flot-news-left {
    width: calc(100% - 50px);
    background: #053100c7;
    color: #fff;
    padding: 20px
}

.flot-news-left h3 {
    font-size: 22px;
    font-weight: 500;
    line-height: 25px
}

.flot-news-left a {
    color: #fff;
    margin-top: 100px;
    display: inline-block
}

.flot-news-right {
    width: 50px;
    background: #0E7A02d1;
    color: #fff
}

.flot-news-right h3 {
    writing-mode: tb-rl;
    font-size: 22px;
    padding-left: 10px;
    padding-top: 45px
}

.banner form {
    width: 50%;
    justify-content: space-between;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 55%;
    left: 25%;
    display: flex
}

input#search-bar {
    margin: 0 auto;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #fff;
    outline: none;
    background: #ffffff9e
}

.search-icon {
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -62px;
    right: -45px
}

.search-container ul {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    background: #00000040
}

.search-container ul li a {
    color: #fff
}

.search-container ul li {
    color: #fff;
    margin-bottom: 0px
}

.all-course a {
    padding: 15px;
    background: #0E7A02d1;
    display: inline-block;
    color: #fff;
    font-family: 'functionregular';
    font-size: 20px;
    height: 50px;
    width: 100%
}

.search-container {
    width: 80%
}

.all-course {
    width: 20%
}

.placed-std {
    margin-top: 50px
}

.placed-std h5 {
    text-align: center;
    padding: 50px 0px;
    font-size: 20px;
    color: #fff;
    background: rgb(233, 30, 99);
    background: linear-gradient(90deg, rgba(233, 30, 99, 1) 0%, rgba(27, 117, 188, 1) 100%);
    transition: all 0.8s
}

.placed-std h5:hover {
    background: #001142
}

.search-container input::-webkit-input-placeholder {
    color: #000;
    font-family: 'functionregular';
    font-size: 20px;
    font-weight: 600
}

.search-container input::-moz-placeholder {
    color: #000;
    font-family: 'functionregular';
    font-size: 20px;
    font-weight: 600
}

.search-container input:-ms-input-placeholder {
    color: #000;
    font-family: 'functionregular';
    font-size: 20px;
    font-weight: 600
}

.search-container input:-moz-placeholder {
    color: #000;
    font-family: 'functionregular';
    font-size: 20px;
    font-weight: 600
}

.so-gn {
    font-size: 45px;
    font-family: 'functionregular';
    display: inline-block;
    width: 100%;
    margin: 100px 0px;
    padding: 50px 100px;
    background: #0E7A02;
    color: #fff;
    text-align: center
}

.so-gn p {
    line-height: 50px;
    font-size: 50px
}

.inner-sec {
    display: flex;
    margin: 100px 0px;
    position: relative
}

.inner-left {
    width: 50%
}

.inner-right {
    width: 50%
}

.in-txt-left {
    position: absolute;
    width: 65%;
    z-index: 9;
    background: #fdfdfdd1;
    top: 10%;
    padding: 30px 20px;
    left: 0;
    box-shadow: -4px 4px 7px #8e8b8b7d
}

.in-txt-right {
    position: absolute;
    width: 65%;
    z-index: 9;
    background: #fdfdfdd1;
    top: 10%;
    padding: 30px 20px 30px 50px;
    right: 0;
    box-shadow: 4px 4px 7px #8e8b8b7d
}

.aca-in {
    width: 30%;
    position: relative;
    overflow: hidden
}

.aca-in img {
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    width: 100%
}

.aca-in:hover a img {
    -webkit-transform: scale(1.08);
    transform: scale(1.08)
}

.aca-in span {
    display: inline-block;
    width: 70%;
    position: absolute;
    right: 0;
    bottom: 30px;
    background: #ffffffc4;
    padding: 10px 10px
}

.aca-in span p {
    font-size: 24px;
    font-family: 'functionregular';
    margin-bottom: 0px;
    padding-top: 5px;
    font-weight: bold;
    color: #0E7A02
}

.aca-inner-sec {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px
}

.aca-in a:hover img {}

.application-down p {
    font-size: 35px
}

.application-down {
    text-align: center;
    margin-bottom: 50px;
    background: #f5f5f5;
    padding: 20px;
    font-family: 'functionregular'
}

.inner-link {
    margin-top: 30px
}

.inner-link a {
    padding: 10px 15px;
    background: #0E7A02;
    color: #fff
}

.inner-link a:hover {
    background: #001142
}

#container {
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0
}

.place-he {
    display: inline-block;
    border: 4px solid #ccc;
    padding: 10px;
    background: #f5f5f5
}

.sub-menu {
    position: absolute;
    width: 175px;
    visibility: hidden;
    opacity: 0;
    -ms-transition: top 0.3s;
    transition: top 0.3s;
    top: 200%
}

.menu ul li .sub-menu li {
    display: block;
    margin: 0;
    text-align: left;
    background: #f5f5f5;
    color: #333;
    width: 100%;
    border-bottom: 1px solid #ccc
}

.menu ul li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    top: 75%;
    z-index: 1
}

.last-text {
    display: none
}

.menu .sub-menu li a {
    color: #333;
    width: 100%
}

.link-but {
    background: #001142;
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    color: #fff
}

.link-but:hover {
    color: #fff
}

.anti-ragg table td {
    line-height: 25px
}

.nirf-in {
    background: #f5f5f5;
    padding: 20px;
    box-shadow: 3px 3px 3px #000;
    box-shadow: 0px 3px 7px #0000004f;
    height: 265px
}

.nirf-in ul li a:hover {
    color: #0E7A02
}

.nirf-in ul li {
    text-align: center
}

.nirf-in h2 {
    text-align: center
}

.nirf-in ul li a {
    color: #333
}

.scolr h4 {
    font-family: 'functionregular';
    font-size: 20px;
    margin-bottom: 8px;
    font-weight: 600
}

.insur table td {
    line-height: 25px;
    vertical-align: middle
}

.insur table {
    background: #f5f5f5
}

.main-image h3 {
    visibility: hidden;
    transition-delay: 0.2s
}

.main-image:hover h3 {
    visibility: visible
}

.mcar h3 {
    font-family: 'functionregular';
    font-size: 25px
}

.mcar .designat {
    font-size: 15px;
    color: #757575;
    display: block
}

.list a {
    color: #333
}

.social-icon {
    text-align: right
}

.social-icon ul {
    display: flex
}

.social-icon ul li i {
    font-size: 30px
}

.social-icon ul li {
    margin-right: 30px
}

.evn-des {
    color: #333
}

#drop {
    display: none;
    background: #F8F8F8;
    border: 1px solid #CCC;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 46px;
    left: 20px;
    width: 250px;
    max-height: 300px;
    overflow-y: auto;
    border-radius: 3px
}

#drop a {
    display: block;
    padding: 14px 4px;
    color: #333;
    border-bottom: 1px solid #d8d8d8
}

#drop a:hover {
    background: #0E7A02;
    color: #fff
}

.menu .fa-chevron-down {
    display: none
}

.menuIcon {
    cursor: pointer;
    display: none
}

.bar1,
.bar2,
.bar3 {
    width: 26px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    -ms-transition: 0.4s;
    transition: 0.4s
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px)
}

.change .bar2 {
    opacity: 0
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -2px);
    transform: rotate(45deg) translate(-5px, -2px)
}

.row {
    margin-left: 0px;
    margin-right: 0px
}

.logo-2 {
    display: none
}

.charman-pic {
    text-align: center
}

.charman-pic img {
    width: 50%
}

.iqac-link a {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 25px
}

.iqac-link a span {
    display: flex
}

.iqac-link a i {
    color: #001142;
    font-size: 20px;
    margin-right: 10px
}

.cur_std_pay {
    -webkit-animation-name: changeImg1;
    -webkit-animation-duration: 1.5s;
    animation-name: changeImg1;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    background-color: #053100;
    position: fixed;
    right: 10px;
    bottom: 18%;
    z-index: 9991;
    color: #fff;
    padding: 12px;
    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.4)
}

.cur_std_pay:hover {
    color: #fff
}

.register_btn {
    -webkit-animation-name: changeImg;
    -webkit-animation-duration: 1.5s;
    animation-name: changeImg;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    background-color: #FF7E00;
    position: fixed;
    right: 10px;
    bottom: 11%;
    z-index: 9991;
    color: #fff;
    padding: 12px;
    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.4)
}

.register_btn:hover {
    color: #fff
}

.covid {
    background: #ff7e00;
    text-align: center;
    color: #fff;
    padding: 50px 0px
}

.covid a {
    padding: 10px;
    display: inline-block;
    background: #fff;
    color: #ff7e00;
    margin-top: 50px
}

.news-page .thumb p {
    font-size: 15px;
    line-height: 20px
}

@-webkit-keyframes changeImg {
    50% {
        background-color: #fc9b3c
    }
    100% {
        background-color: #FF7E00
    }
}

@keyframes changeImg {
    50% {
        background-color: #fc9b3c
    }
    100% {
        background-color: #FF7E00
    }
}

@-webkit-keyframes changeImg1 {
    50% {
        background-color: #053100
    }
    100% {
        background-color: #4caf50
    }
}

@keyframes changeImg1 {
    50% {
        background-color: #053100
    }
    100% {
        background-color: #4caf50
    }
}